__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
.DS_Store
*.log
.env
.env.dvc
.vscode/
.idea/
*.weights
*.pt
runs/
mlruns/
*.db
*.cache

# DVC
/data/train/images/
/data/train/labels/*.txt
!/data/train/labels/classes.txt
/data/valid/images/
/data/valid/labels/*.txt
!/data/valid/labels/classes.txt
/data/test/images/
/data/test/labels/*.txt
!/data/test/labels/classes.txt

/data/test_dataset/images/
/data/test_dataset/labels/*.txt
*.dvc.lock

classes.txt
README.*.txt
README.*.txt
/data
