services:
  mlflow:
    container_name: mlflow_server
    build:
      context: .
      dockerfile: Dockerfile
    command:
      - bash
      - -c
      - "mlflow server --backend-store-uri sqlite:////mlflow/mlflow.db --serve-artifacts --host 0.0.0.0 --port 5000"
    ports:
      - "5001:5000"
    volumes:
      - ./run_env/data:/mlflow
    restart: unless-stopped
    networks:
      - local-network

networks:
  local-network:
    driver: bridge